<div>
	<div class="col-md-1">
		<div class="text-center">
			<button class="btn btn-success " ng-click="up(hotel)">
				<span class="glyphicon glyphicon-chevron-up"></span>
			</button>
		</div>
		<div class="text-center">
			<h2>{{hotel.rating}}</h2>
		</div>
		<div class="text-center">
			<button class="btn btn-danger" ng-click="down(hotel)">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</button>
		</div>
		<div>
			<button class="btn btn-default" ng-click="addToFavs(hotel)">
				<span class="glyphicon glyphicon-star"></span>
			</button>
		</div>
	</div>
	<img ng-src="{{hotel.img}}" class="col-md-3 col-xs-12" >
	<div class="col-md-6">
		<div class="row h3" ng-class="{'highlight' : hotel.price >
			expensive}" zoom>

			{{hotel.name | uppercase}}
			<small>
				<span class="glyphicon glyphicon-star text-success" ng-repeat="item in hotel.rating | numberToArray track by $index"></span>
			</small>
		</div>
		<div class="row text-muted hidden-xs hidden-sm">
			<span ng-hide="hotel.more">{{hotel.description | limitTo : textLimit | traditionalize}}</span>
			<span ng-show="hotel.more">{{hotel.description | traditionalize}}</span>
			<span ng-show="hotel.description.length >
				textLimit && !hotel.more">
				<a href="" ng-click="toggleMore(hotel)">...more</a>
			</span>
			<span ng-show="hotel.more">
				<a href="" ng-click="toggleMore(hotel)">less</a>
			</span>
		</div>
	</div>
	<div class="col-md-2 h4 text-center">{{hotel.price * rate | number}}</div>
</div>
</div>