<div class="row" ng-controller="mainController">

	<div class="col-md-9" >

		<div class="row"  >
			<div class="col-md-4">
				<input type="text" class="form-control" ng-model="searchTerm" placeholder="Enter search term"/>
			</div>
			<div class="col-md-4">
				<input type="text" class="form-control"  ng-model="orderByTerm" placeholder="order by ?" />
			</div>
			<div class="col-md-4">
				<input type="radio" ng-model="numberItems" value="3">
				3
				<input type="radio" ng-model="numberItems" value="5">
				5
				<input type="radio" ng-model="numberItems" value="10">
				10
				<input type="radio" ng-model="numberItems" value="50">50</div>

		</div>
		<hr/>
		<div class="row">
			<nav>
				<ul class="pagination">
					<li>
						<a href="#" ng-click="prev()" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li>
						<a href="#">1</a>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#" ng-click="next()" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div ng-show="loading">
			<h1>Loading...</h1>
		</div>
		<div>
			<div ng-repeat="hotel in hotels | filter : searchTerm | orderBy : orderByTerm | paginate : numberItems : pageNumber" class="well well-sm row">
				<ng-include src="'partials/hotelItem.html'"></ng-include>
			</div>
		</div>

	</div>
	<div class="col-md-3" >

		<div>
			<quick-add></quick-add>
		</div>
		<div>
			<favs></favs>

		</div>
	</div>

</div>