<!DOCTYPE html>
<html ng-app="wfis">
<head>
	<title>Angular Training</title>
	<script type="text/javascript" src="bower_components/angular/angular.js"></script>
</head>

<body ng-controller="mainController">
<style type="text/css">
	.highlight {
		color: red;
	}
</style>
	<h1>{{location.city}}, {{country}}</h1>

	
	Bangalore has
	
	<hr/>
	<h2>Attractions</h2>
	<div ng-repeat="item in attractions">
		<img ng-src="http://i.imgur.com/{{item.img}}" width="100px">
		<div>{{item.name}}</div>
	</div>

	<div>
		<button ng-click="doSomething()">Click me to do something</button>
	</div>

	
	<script type="text/javascript" src="app.js"></script>

</body>
</html>